.turbo/
coverage/
dist
.next
.env.local
.env
.env.*
!.env.example
.env.development.local
.env.test.local
.env.production.local
*.tsbuildinfo
next-env.d.ts
node_modules
/generated/prisma
node_modules/
build/
*.log
.DS_Store
.vscode/
.idea/
apps/api/src/**/*.js
apps/api/src/**/*.js.map
apps/api/uploads/