.turbo

coverage

dist

.next

.env.local

.env

.env.*

!.env.example

.env.development.local

.env.test.local

.env.production.local

*.tsbuildinfo

node_modules

/generated/prisma

/generated/prisma

/generated/prisma
